[submodule "core"]
	path = core
	url = https://github.com/gottong/gottong-core
	branch = core
[submodule "example"]
	path = example
	url = https://github.com/gottong/gottong-example
	branch = example
